::-moz-selection {
	background: #349BBF;
	color: #fff;
}
::selection {
	background: #349BBF;
	color: #fff;
}
::-webkit-input-placeholder {
	color: #23677F;
}
:-moz-placeholder {
	color: #23677F;
}
::-moz-placeholder {
	color: #23677F;
}
:-ms-input-placeholder {  
	color: #23677F;
}

/*////////////////////////////////////////////*/
body {
	background: #f1f1f1;
	
}
.cover {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url(../images/l_2.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*-webkit-filter: blur(3px);*/
	background-position: center center;
	background-attachment: fixed;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}
#login {

}
#register {
	display: none;
	background: #f1f1f1;
}
#password_register:active, #password_register:focus {
	border: 0!important;
}
.login {
	max-width: 375px;
	text-align: center;
	margin: 0 auto;
	padding: 50px;
	background: rgba(255,255,255,0.8);
	z-index: 2;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 495px;
	margin: auto;
}
.login img {
	margin: 0px 0 25px 0;
}
.login input {
	width: 100%;
	margin: 0px 0 25px 0;
}
.login button, .register_btn {
	width: 155px;
	margin: 25px 0 0px 0;
}
#color {
	width: 100%;
	height: 130px;
	background: #23677F;
	position: absolute;
	top: 0;
	z-index: -1;
}
.dash {
	background: #f1f1f1;
}
.row .col {
	padding: 0;
}
.btn_mail {
	width: 100%;
	float: left;
	padding: 20px;
	border-bottom: 1px solid #f1f1f1;
}
.active_mail {
	background: #f1f1f1;
}
.erased_mail {
	display: none;
}
.active {
	background: #fff!important;
	/*-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;*/
}
.tabs {
	background: #f1f1f1;
	height: 45px;
}
.tabs .tab {
	height: 45px;
}
.tabs .tab a {
	background: #f9f9f9;
	color: #000;
	text-transform: capitalize;
}
.tabs .indicator {
	background: #3297BB;
	top: 0;
}
.tabs .tab a:hover {
	color: #3297BB;
}
#des, #cont, #asu {
	margin: 0px;
	width: 95.7%;
	float: left;
	clear: both;
	color: #000;
}
#des, #asu {
	height: 45px;
	padding: 8.5px 20px 8.5px 20px;
	border-bottom: 1px dashed #D0D0D0;
	background: #E6E6E6;
}
#cont {
	padding: 20px;
	text-align: justify;
	min-height: 335px!important;
	overflow-y: scroll;
}
.btn_mail:hover {
	background: #f1f1f1;
}
.options {
	height: 45px;
}
.mail {
	width: 100%;
	max-width: 1212px;
	margin: 20px auto;
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.row_mail {
	position: relative;
	background: #f9f9f9;
}
.mail header {
	height: 65px;
	width: 100%;
	background: #f9f9f9;
	position: relative;
}
#m {
	margin: 10px 0 0 0;
	width: 100%;
	float: left;
	text-align: center;
}
.opt_bar {
	padding: 11px;
	float: right;
}
.user {
	position: absolute;
	left: 20px;
	top: 12.5px;
	font-size: 18px;
}
.mails {
	background: #fff;
	height: 550px;
	overflow-y: scroll;
}
.new {
	padding: 3em 4rem 3rem 4rem!important;
}
.contents {
	background: #e0dad6;
	height: 500px;
	background: #f1f1f1;
}
.create {
	position: absolute;
	right: 25px;
	top: 15px;
	background: #23677F;
}
.settings {
	position: absolute;
    right: 100px;
	top: 15px;
}
/*dropdown settings*/
.dropdown-content li>a, .dropdown-content li>span, .dropdown-content li {
	width: 55.5px!important;
	height: 55.5px!important;
	border-radius: 50%;
	background: #113440;
	color: #fff;
	overflow: hidden;
}
.dropdown-content li>a>i {
	height: auto;
}
#dropdown1 i {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform:rotate(180deg);
}
#dropdown2 li {
	margin-top: 10px;
}
.no_margin {
	margin: 0!important;
}
#dropdown2 a {
	padding: 0;
}
.dropdown-content {
	background: none!important;
	box-shadow: none;
	margin-top: 10px;
}
.more {
	position: absolute;
	right: 175px;
	top: 15px;
	background: #23677F;
	display: none;
}
.edit, .delete, .leave, .send  {
	background: #23677F!important;
}
.edit:hover, .delete:hover, .leave:hover, .send:hover {
	background: #113440!important;
}
.create:hover, .settings:hover, .more:hover {
	background: #0C262F!important;
}
.btn, .btn-large, .btn-flat {
	text-transform: capitalize!important;
	background: #113440;
}
input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #00838f;
	box-shadow: 0 1px 0 0 #26a69a;
}
.delay-1 {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
.delay-1-3 {
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
}
.delay-2 {
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}
@media only screen and (max-width : 1024px) {
	
}
/*////////////////////////////////////////////*/
